#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Adding pointing.h to be able to right and middle click
// https://zmk.dev/docs/keymaps/behaviors/mouse-emulation
#include <dt-bindings/zmk/pointing.h>

#define LAYER_Base 0
#define LAYER_Nav 1
#define LAYER_Symb 2
#define LAYER_Subl 3
#define LAYER_Apps 4
#define LAYER_Systm 5
#define LAYER_Raycast 6
#define LAYER_Letters 7
#define LAYER_Bluetooth 8
#define LAYER_Numpad 9

// Hyper = Shift + Ctrl + Alt + Cmd 합성 modifier.
// Hammerspoon hyper_actions.lua가 OS-level listener로 받음 (kanata 측도 동일 조합 emit).
#define HYPER(k) LS(LC(LA(LG(k))))

/ {
    behaviors {
        // Homerow Mod for the left pinky - TailorKey (influenced)
        hrm_l: hrm_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <0>;
        };

        // Homerow Mod for the right pinky - TailorKey (influenced).
        hrm_r: hrm_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <300>;
            require-prior-idle-ms = <0>;
        };

        // Homerow Mod for the right pinky - TailorKey (influenced).
        hrm_w: hrm_w {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <0>;
            retro-tap;
        };

        my_mt: my_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            bindings = <&kp>, <&kp>;
        };

        my_lt: my_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            bindings = <&mo>, <&kp>;
        };

        my_mtw: my_mtw {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        // hold-tap with `&once` macro on hold: hold emits keycode 1회 (no OS key-repeat); tap is plain &kp.
        // kanata의 (tap-hold ... (macro M-x))와 동등. 사용 syntax는 &my_mt와 동일: &htm <HOLD-ARG> <TAP-ARG>.
        htm: htm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            bindings = <&once>, <&kp>;
        };

    };
};

/ {

    macros {
        // Once-emit any modifier-encoded keycode via &macro_tap &kp X.
        // 사용 예: &once LG(V) → Cmd+V 1회. &once LS(LC(LA(TAB))) → Shift+Ctrl+Alt+Tab 1회.
        // 어떤 modifier 조합(1~4-modifier)이든 단일 매크로로 처리. modifier 늘어도 매크로 추가 불필요.
        once: once {
            label = "ZM_once";
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                ;
        };
    };
};

/ {

    keymap {
        compatible = "zmk,keymap";

        layer_Base {
            display-name = "BASE";
            bindings = <
//    ┌────────────────────────────────┬──────────────────┬────────────────────────┬─────────────────────────┬─────────────────┬──────────────────────┐               ┌─────────────────────┬───────────────┬───────────────┬────────────────────────────────────┬───────────────┬──────┐
//    │ &htm lsft(lctl(lalt(tab))) tab │        Q         │ &my_lt laltYER_Systm W │ &my_lt laltYER_Numpad E │ &htm HYPER(D) R │          T           │               │          Y          │       U       │       I       │ &my_mt lgui(lctl(lalt(lsft(Z)))) O │       P       │  \   │
//    ├────────────────────────────────┼──────────────────┼────────────────────────┼─────────────────────────┼─────────────────┼──────────────────────┤               ├─────────────────────┼───────────────┼───────────────┼────────────────────────────────────┼───────────────┼──────┤
//    │       lt laltYER_Nav esc       │  &hrm_l lgui A   │     &hrm_l lalt S      │      &hrm_l lsft D      │  &hrm_l lctl F  │   &htm lgui(spc) G   │               │          H          │ &hrm_r rctl J │ &hrm_r rsft K │           &hrm_r ralt L            │ &hrm_r rgui ; │  '   │
//    ├────────────────────────────────┼──────────────────┼────────────────────────┼─────────────────────────┼─────────────────┼──────────────────────┤               ├─────────────────────┼───────────────┼───────────────┼────────────────────────────────────┼───────────────┼──────┤
//    │              lsft              │ &htm lgui(tab) Z │     &htm lgui(`) X     │     &htm lgui(C) C      │ &htm lgui(V) V  │          B           │               │          N          │       M       │       ,       │                 .                  │       /       │ rsft │
//    └────────────────────────────────┴──────────────────┴────────────────────────┴─────────────────────────┼─────────────────┼──────────────────────┼─────┐   ┌─────┼─────────────────────┼───────────────┼───────────────┴────────────────────────────────────┴───────────────┴──────┘
//                                                                                                           │                 │ lt laltYER_Symb bspc │ spc │   │ spc │ lt laltYER_Subl ent │               │
//                                                                                                           └─────────────────┴──────────────────────┴─────┘   └─────┴─────────────────────┴───────────────┘
  &htm LS(LC(LA(TAB))) TAB   &kp Q            &my_lt LAYER_Systm W   &my_lt LAYER_Numpad E   &htm HYPER(D) R   &kp T                                             &kp Y                &kp U            &kp I            &my_mt LG(LC(LA(LS(Z)))) O   &kp P              &kp BSLH
  &lt LAYER_Nav ESC          &hrm_l LGUI A    &hrm_l LALT S          &hrm_l LSHFT D          &hrm_l LCTRL F    &htm LG(SPACE) G                                  &kp H                &hrm_r RCTRL J   &hrm_r RSHFT K   &hrm_r RALT L                &hrm_r RGUI SEMI   &kp SQT
  &kp LSHFT                  &htm LG(TAB) Z   &htm LG(GRAVE) X       &htm LG(C) C            &htm LG(V) V      &kp B                                             &kp N                &kp M            &kp COMMA        &kp DOT                      &kp FSLH           &kp RSHFT
                                                                                             &none             &lt LAYER_Symb BSPC   &kp SPACE       &kp SPACE   &lt LAYER_Subl RET   &none
            >;
        };

        layer_Nav {
            display-name = "NAVI";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬──────────┐                ┌──────┬──────┬──────┬──────┬─────┬─────┐
//    │     │     │     │     │     │          │                │ home │ pgdn │ pgup │ end  │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼──────────┤                ├──────┼──────┼──────┼──────┼─────┼─────┤
//    │     │     │     │     │     │ HYPER(G) │                │ left │ down │  up  │ rght │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼──────────┤                ├──────┼──────┼──────┼──────┼─────┼─────┤
//    │     │     │     │     │     │ HYPER(B) │                │      │      │      │      │     │     │
//    └─────┴─────┴─────┴─────┼─────┼──────────┼──────┐   ┌─────┼──────┼──────┼──────┴──────┴─────┴─────┘
//                            │     │   rclk   │ mclk │   │     │      │      │
//                            └─────┴──────────┴──────┘   └─────┴──────┴──────┘
  &none    &none    &none    &none    &none    &none                                   &kp HOME   &kp PG_DN   &kp PG_UP   &kp END     &none   &none
  &none    &trans   &trans   &trans   &trans   &kp HYPER(G)                            &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT   &none   &none
  &trans   &none    &none    &none    &none    &kp HYPER(B)                            &none      &none       &none       &none       &none   &trans
                                      &trans   &mkp RCLK      &mkp MCLK       &trans   &trans     &trans
            >;
        };

        layer_Symb {
            display-name = "SYMB";
            bindings = <
//    ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐               ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
//    │ lsft(`) │ lsft(1) │ lsft(2) │ lsft(3) │ lsft(4) │ lsft(5) │               │ lsft(6) │ lsft(7) │ lsft(8) │ lsft(9) │ lsft(0) │ lsft(-) │
//    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤               ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
//    │    `    │    1    │    2    │    3    │    4    │    5    │               │    6    │    7    │    8    │    9    │    0    │    -    │
//    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤               ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
//    │ lsft(=) │ lsft(,) │ lsft(.) │ lsft(/) │    [    │    ]    │               │ lsft([) │ lsft(]) │    ,    │    .    │    /    │    =    │
//    └─────────┴─────────┴─────────┴─────────┼─────────┼─────────┼─────┐   ┌─────┼─────────┼─────────┼─────────┴─────────┴─────────┴─────────┘
//                                            │         │         │     │   │     │         │         │
//                                            └─────────┴─────────┴─────┘   └─────┴─────────┴─────────┘
  &kp LS(GRAVE)   &kp LS(N1)      &kp LS(N2)    &kp LS(N3)     &kp LS(N4)   &kp LS(N5)                         &kp LS(N6)     &kp LS(N7)     &kp LS(N8)   &kp LS(N9)   &kp LS(N0)   &kp LS(MINUS)
  &kp GRAVE       &kp N1          &kp N2        &kp N3         &kp N4       &kp N5                             &kp N6         &kp N7         &kp N8       &kp N9       &kp N0       &kp MINUS
  &kp LS(EQUAL)   &kp LS(COMMA)   &kp LS(DOT)   &kp LS(FSLH)   &kp LBKT     &kp RBKT                           &kp LS(LBKT)   &kp LS(RBKT)   &kp COMMA    &kp DOT      &kp FSLH     &kp EQUAL
                                                               &trans       &trans       &trans       &trans   &trans         &trans
            >;
        };


        layer_Subl {
            display-name = "SUBL";
            bindings = <
//    ┌─────┬─────┬────────────────────┬─────┬────────────────────┬──────────────────────┐               ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │                    │     │ mo laltYER_Raycast │                      │               │     │     │     │     │     │     │
//    ├─────┼─────┼────────────────────┼─────┼────────────────────┼──────────────────────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │ mo laltYER_Letters │     │                    │                      │               │     │     │     │     │     │     │
//    ├─────┼─────┼────────────────────┼─────┼────────────────────┼──────────────────────┤               ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │                    │     │                    │ mo laltYER_Bluetooth │               │     │     │     │     │     │     │
//    └─────┴─────┴────────────────────┴─────┼────────────────────┼──────────────────────┼─────┐   ┌─────┼─────┼─────┼─────┴─────┴─────┴─────┘
//                                           │                    │   mo laltYER_Apps    │     │   │     │     │     │
//                                           └────────────────────┴──────────────────────┴─────┘   └─────┴─────┴─────┘
  &trans   &trans   &trans              &trans   &mo LAYER_Raycast   &trans                                      &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &mo LAYER_Letters   &trans   &trans              &trans                                      &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans              &trans   &trans              &mo LAYER_Bluetooth                         &trans   &trans   &trans   &trans   &trans   &trans
                                                 &trans              &mo LAYER_Apps        &trans       &trans   &trans   &trans
            >;
        };

        layer_Apps {
            display-name = "APPS";
            bindings = <
//    ┌───────────────────────┬─────┬──────────┬─────┬──────────┬─────┐               ┌──────────┬──────────┬──────────┬──────────┬──────────┬─────┐
//    │ lsft(lctl(lalt(tab))) │     │          │     │ HYPER(W) │     │               │          │          │ HYPER(I) │ HYPER(C) │          │     │
//    ├───────────────────────┼─────┼──────────┼─────┼──────────┼─────┤               ├──────────┼──────────┼──────────┼──────────┼──────────┼─────┤
//    │                       │     │ HYPER(T) │     │ HYPER(F) │     │               │ HYPER(R) │ HYPER(H) │ HYPER(S) │ HYPER(K) │ HYPER(;) │     │
//    ├───────────────────────┼─────┼──────────┼─────┼──────────┼─────┤               ├──────────┼──────────┼──────────┼──────────┼──────────┼─────┤
//    │                       │     │          │     │          │     │               │          │ HYPER(M) │          │          │          │     │
//    └───────────────────────┴─────┴──────────┴─────┼──────────┼─────┼─────┐   ┌─────┼──────────┼──────────┼──────────┴──────────┴──────────┴─────┘
//                                                   │          │     │     │   │     │          │          │
//                                                   └──────────┴─────┴─────┘   └─────┴──────────┴──────────┘
  &kp LS(LC(LA(TAB)))   &none   &none          &none   &kp HYPER(W)   &none                          &none          &none          &kp HYPER(I)   &kp HYPER(C)   &none             &none
  &none                 &none   &kp HYPER(T)   &none   &kp HYPER(F)   &none                          &kp HYPER(R)   &kp HYPER(H)   &kp HYPER(S)   &kp HYPER(K)   &kp HYPER(SEMI)   &none
  &trans                &none   &none          &none   &none          &none                          &none          &kp HYPER(M)   &none          &none          &none             &trans
                                                       &trans         &trans   &trans       &trans   &trans         &trans
            >;
        };

        layer_Systm {
            display-name = "SYST";
            bindings = <
//    ┌─────┬────────────┬─────┬─────────────────────┬──────┬─────┐               ┌─────┬─────┬────┬────┬─────┬─────┐
//    │     │ HYPER(f13) │     │        volu         │ bri+ │     │               │     │ f7  │ f8 │ f9 │ f10 │ f11 │
//    ├─────┼────────────┼─────┼─────────────────────┼──────┼─────┤               ├─────┼─────┼────┼────┼─────┼─────┤
//    │     │            │     │        vold         │ bri- │     │               │     │ f4  │ f5 │ f6 │     │ f12 │
//    ├─────┼────────────┼─────┼─────────────────────┼──────┼─────┤               ├─────┼─────┼────┼────┼─────┼─────┤
//    │     │            │     │ lgui(lsft(lctl(4))) │      │     │               │     │ f1  │ f2 │ f3 │     │     │
//    └─────┴────────────┴─────┴─────────────────────┼──────┼─────┼─────┐   ┌─────┼─────┼─────┼────┴────┴─────┴─────┘
//                                                   │      │     │     │   │     │     │     │
//                                                   └──────┴─────┴─────┘   └─────┴─────┴─────┘
  &trans   &kp HYPER(F13)   &none   &kp K_VOL_UP         &kp C_BRI_UP   &none                          &none    &kp F7   &kp F8   &kp F9   &kp F10   &kp F11
  &none    &none            &none   &kp K_VOL_DN         &kp C_BRI_DN   &none                          &none    &kp F4   &kp F5   &kp F6   &none     &kp F12
  &trans   &none            &none   &kp LG(LS(LC(N4)))   &none          &none                          &none    &kp F1   &kp F2   &kp F3   &none     &trans
                                                         &trans         &trans   &trans       &trans   &trans   &trans
            >;
        };

        layer_Raycast {
            display-name = "RAYC";
            bindings = <
//    ┌─────┬─────┬─────┬──────────┬─────┬─────┐               ┌──────────┬──────────┬──────────┬──────────┬─────┬─────┐
//    │     │     │     │ HYPER(E) │     │     │               │ HYPER(Y) │          │          │          │     │     │
//    ├─────┼─────┼─────┼──────────┼─────┼─────┤               ├──────────┼──────────┼──────────┼──────────┼─────┼─────┤
//    │     │     │     │          │     │     │               │          │ HYPER(J) │ HYPER(K) │ HYPER(L) │     │     │
//    ├─────┼─────┼─────┼──────────┼─────┼─────┤               ├──────────┼──────────┼──────────┼──────────┼─────┼─────┤
//    │     │     │     │          │     │     │               │          │          │          │          │     │     │
//    └─────┴─────┴─────┴──────────┼─────┼─────┼─────┐   ┌─────┼──────────┼──────────┼──────────┴──────────┴─────┴─────┘
//                                 │     │     │     │   │     │          │          │
//                                 └─────┴─────┴─────┘   └─────┴──────────┴──────────┘
  &none   &none   &none   &kp HYPER(E)   &none   &none                       &kp HYPER(Y)   &none          &none          &none          &none   &none
  &none   &none   &none   &none          &none   &none                       &none          &kp HYPER(J)   &kp HYPER(K)   &kp HYPER(L)   &none   &none
  &none   &none   &none   &none          &none   &none                       &none          &none          &none          &none          &none   &none
                                         &none   &none   &none       &none   &none          &none
            >;
        };


        layer_Letters {
            display-name = "LTRS";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐               ┌────────────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │               │            │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├────────────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │            │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├────────────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │               │ HYPER(f14) │     │     │     │     │     │
//    └─────┴─────┴─────┴─────┼─────┼─────┼─────┐   ┌─────┼────────────┼─────┼─────┴─────┴─────┴─────┘
//                            │     │     │     │   │     │            │     │
//                            └─────┴─────┴─────┘   └─────┴────────────┴─────┘
  &none    &none   &none   &none   &none    &none                          &none            &none    &none   &none   &none   &none
  &none    &none   &none   &none   &none    &none                          &none            &none    &none   &none   &none   &none
  &trans   &none   &none   &none   &none    &none                          &kp HYPER(F14)   &none    &none   &none   &none   &trans
                                   &trans   &trans   &trans       &trans   &trans           &trans
            >;
        };

        layer_Bluetooth {
            display-name = "BLUE";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐               ┌────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
//    │     │     │     │     │     │     │               │        │   to 0   │   to 1   │          │          │          │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//    │     │     │     │     │     │     │               │ bt_clr │ bt_sel 0 │ bt_sel 1 │ bt_sel 2 │ bt_sel 3 │ bt_sel 4 │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤               ├────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
//    │     │     │     │     │     │     │               │        │          │          │          │          │          │
//    └─────┴─────┴─────┴─────┼─────┼─────┼─────┐   ┌─────┼────────┼──────────┼──────────┴──────────┴──────────┴──────────┘
//                            │     │     │     │   │     │        │          │
//                            └─────┴─────┴─────┘   └─────┴────────┴──────────┘
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans       &to 0          &to 1          &trans         &trans         &trans
  &trans   &trans   &trans   &trans   &trans   &trans                         &bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
  &trans   &trans   &trans   &trans   &trans   &trans                         &trans       &trans         &trans         &trans         &trans         &trans
                                      &trans   &trans   &trans       &trans   &trans       &trans
            >;
        };

        layer_Numpad {
            display-name = "NUMB";
            bindings = <
//    ┌─────────┬─────┬─────┬─────┬─────┬─────┐               ┌─────┬─────┬───┬───┬─────┬─────────┐
//    │         │     │     │     │     │     │               │     │  7  │ 8 │ 9 │     │ lsft(8) │
//    ├─────────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼───┼───┼─────┼─────────┤
//    │         │     │     │     │     │     │               │     │  4  │ 5 │ 6 │  .  │    -    │
//    ├─────────┼─────┼─────┼─────┼─────┼─────┤               ├─────┼─────┼───┼───┼─────┼─────────┤
//    │ lsft(=) │     │     │     │     │     │               │     │  1  │ 2 │ 3 │     │    =    │
//    └─────────┴─────┴─────┴─────┼─────┼─────┼─────┐   ┌─────┼─────┼─────┼───┴───┴─────┴─────────┘
//                                │     │     │     │   │     │  0  │     │
//                                └─────┴─────┴─────┘   └─────┴─────┴─────┘
  &trans          &none    &none    &trans   &none    &none                          &none    &kp N7   &kp N8   &kp N9   &none     &kp LS(N8)
  &none           &trans   &trans   &trans   &trans   &none                          &none    &kp N4   &kp N5   &kp N6   &kp DOT   &kp MINUS
  &kp LS(EQUAL)   &none    &none    &none    &none    &none                          &none    &kp N1   &kp N2   &kp N3   &none     &kp EQUAL
                                             &trans   &trans   &trans       &trans   &kp N0   &trans
            >;
        };

    };
};
